/*CSS bij Website */


@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto:400,700&display=swap');


h2#login {
    font-size: 1.5em;
    font-weight: 300;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background: #FAFAFA;
}

/*img stijlen -------------------------------------*/

img#banner {
    display: inline-block;
    width: 50%;
    height: auto;
    padding: 10px;
}

nav img {
    max-width: 50%;
    height: auto;
}

img#logo {
    max-width:100%;
    height:auto;
    padding: 20px;
}

/*-----main breedte geven en centreren (moest het ergens in zetten)*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
main#mainlogin {
    margin: 5 auto;
    padding: 5 auto;
}

/* -----dit gaat over het blok van van de twee vierkanten(login en hyperlink registreer */
main#mainlogin div.loginform {
    width: 350px;
    background: none;
}

/*   de indivuduele blokken */

main#mainlogin div.loginitem{
    text-align: center;
    border: solid 1px silver;
    border-radius: 2px;
    margin: 1.5em 0;
    padding: 1em;
    background: white;
}

/* groote van de invulvelden----------------*/

main#mainlogin form input {
    width: 100%;
}


/*  styling link naar registratie formulier--------------*/
a#gegistreer {
    text-decoration: none;
}

/*afstand tussen de  items in de lijst--------------*/
main#mainlogin div.loginitem ul li {
    padding: 0.5em 1em;


}


/*invulvelden---styling--------------------------------*/

main#mainlogin form input[type=email],
main#mainlogin form input[type=password],
main#mainlogin form input[type=text]{

    font:500 80%/1.2 Roboto, Arial, sans-serif;
    padding: 10px;
    color: #666;
    background: #FAFAFA;
    border: 1px solid #CCC;
    border-radius: 3px;

}

main form li a{
    background: #80B2F2;
    padding: .5em 1em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    font: 400 100%/1.5  Arial, sans-serif;
    width: 100%;
    text-decoration: none;
    
}

input.submit[type=submit]{
    background: #80B2F2;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    font: 400 100%/1.5  Arial, sans-serif;
    width: 100%;
    text-decoration: none;
}

main#mainlogin form input[type=password]:focus,
main#mainlogin form input[type=email]:focus
{
    background: rgb(204,222,249);

}

main#mainlogin form input[type=submit]:hover{
    background: #3897F0;
    cursor: grabbing     ;
    
}


/*NAVIGATIE STIJLEN ------------------------------------*/

div.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


nav#login {
    display: none;

}

nav#login img {
    max-width: 50px;
    padding: 20px;
}

nav {
    height: 100px;
    border-bottom: 10px solid #F2C36B;
    background: white;
    

}

nav ul {
    display: flex;
    align-items: center;
    padding: 1em 0;
}


nav ul li a {
    display: inline-block;
    padding: 0 2em;
}

nav form input[type=submit] {
    background: #80B2F2;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    font: 400 100%/1.5  Arial, sans-serif;
    width: 100%;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #F2C36B;
    font-size: 20px;
    transition: all 500ms;
    text-transform: uppercase;
}

nav img {
    
}

.navlink-link {
    position: relative;
    padding: 5px 0;
    margin: 0 2em;
    
}

.navlink-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F2C36B;
    transform: scaleX(0);
    transition: transform .2s ease-out;
}

.navlink-link:hover.navlink-link:after {
    transform: scaleX(1);
}




/*Main tegels ----------------------------------------*/

main {
    min-height: 90vh;
    background: #FAFAFA;
}

main#displaytegels {
    margin: auto;
    
}

main div {
    border-radius: 5px; 
}

.tegelcontainer {
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content: center;
}

div.tegel {
    background-color: white;
    border: 0.5px solid white;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    min-height: 411px;
    margin: 1.5em;
}

div.tegel img {
    max-width: 280px;
    border-radius: 4px;
}

div.tegel p.datum {
    padding: 0.5em;

}

div.tegel h2 {
    font-weight: 700;
    font-size: 1.5em;
    padding: 0;
}

div.tegel p {
    padding: 0;
    text-align: center;
    line-height: normal;
}

div.tegel a {
    color: #F2C36B;
    padding: 0.5em;
}

div.tegel a.userlink {
    color: black;
    padding: 0.5em;
    text-decoration: none;
    font-weight: 700;
    
}

/*ZOEKBALK STIJLEN -------------------------------------*/
.form {
    display: flex;
    justify-content: center;
    background: white;
    border: solid; 
    border-width: 2px;
    border-color: #F2C36B;
    margin: 10px;
}


.form label {
    margin: 5px 10px 5px 0
}

.form select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.dropdown-container-item {
    display: inline-block;
    min-height:40px;
    margin: 10px;
}

.dropdown-container-item button {
    padding: 10px 20px;
    background-color: #80B2F2;
    border: 1px solid #80B2F2;
    border-radius: 5px;
    color: white;
}

/*PROFIEL STIJLEN -------------------------------*/
.profiel {
    padding: 1rem 0;
    background: white;
    border: solid; 
    border-width: 2px;
    border-color: #F2C36B;
    min-height: 70px;
    margin-top:10px;
    display: flex;
    justify-content: center;
}

.heading {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
    padding: 20px;
}

.profiel-detail {
    margin-top: 2.3rem;
}

.profiel-detail li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
}

.profiel-detail-count {
    font-weight: 600;
}

/*INSPIREER STIJLEN ----------------------------------*/
/*
.form-blog {
    width: 50%;
    justify-content: space-between;
}
*/

.blog-details {
    width: 50%;
}
.blog-details label {
    display: block;
    margin: 6px 0;
}

.create-blog {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.blog label {
    display: block;
    margin: 6px 0;
}

.blog-details input {
    width: 100%;
    padding: 1em;
    font: 400 100%/1.5 "Open Sans", Arial, sans-serif;
    color: #666;
    background: white;
    border: 1px solid #CCC;
    border-radius: 10px;
}


.form-blog select{
    width: 100%;
    padding: 1em;
    font: 400 100%/1.5 "Open Sans", Arial, sans-serif;
    color: #666;
    background: white;
    border: 1px solid #CCC;
    border-radius: 10px;
}



.blog input {
    width: 100%;
    min-height: 500px;
    padding: 1em;
    font: 400 100%/1.5 "Open Sans", Arial, sans-serif;
    color: #666;
    background: white;
    border: 1px solid #CCC;
    border-radius: 10px;
}

.poloaroid {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.polaroid img {
    height: 320px;
}
.button-blog button {
    padding: 10px 20px;
    background-color: #80B2F2;
    border: 1px solid #80B2F2;
    border-radius: 5px;
    color: white;
    margin: 6px 0;
}

.polaroid button {
    padding: 10px 20px;
    background-color: #80B2F2;
    border: 1px solid #80B2F2;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
}

/*STIJLEN BLOGBERICHT ---------------------------------*/
.blog-bericht {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.blog-bericht h2 {
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 10px;
    text-align: center;
}

.blog-auteur {
    font-weight: 700;
    text-align: center;
}

.blog-image {
    padding-bottom: 20px;
}

.blog-image img {
    width: 50%;
    border-radius: 5%;
    
}

.blog-bericht p {
    padding-bottom: 20px;
    background: white;
    border-radius: 5px;
}




/*FOOTER STIJLEN --------------------------------------*/
footer{
    padding-top: 10px;
    background: #F2C36B;

}

footer p {
    height: 100px;
    text-align: center;
}
