<div><br></div>
<div class="commentaar">
    <h2 class="title-blog">Reageer</h2>
    <form method="post" action="lib/comment.php">
        <input type="hidden"id="usr_id" name="usr_id" value="@@usr_id@@">
        <input type="hidden"id="post_id" name="post_id" value="@@post_id@@">
        <input type="hidden"id="formname" name="formname" value="comment">
        <input type="hidden"id="tablename" name="tablename" value="commentaar">
        <input type="text"  name="commentaar" id="post_blog_com" placeholder="Reageer"><br>
        <a href="#" title=""><input type="submit"  name="submit" value="Reageer"></a></form>

</div>
@@comment@@
</div>