<form action="lib/creeerpost.php" method="post" class="form-blog">
        <input type="hidden" id="formname" name="formname" value="creeerform">
        <input type="hidden" id="tablename" name="tablename" value="post">
    <fieldset class="formcontainer">
        <div class="create-blog">
            <div class="blog-details">

                <div>
                    <label for="post_title">Titel</label>
                    <input type="text" class="titel" id="post_title" name="post_title" value="" required>
                </div>
                <div class="dropdown-container-item-blog">
                    <label for="land_id">Land: </label>
                    <select id="land_id" name="land_id" required>
                        <option disabled selected >Kies een land ...</option>
                        @@landen@@
                    </select>
                </div>
                <div class="stad">
                    <label for="post_stad_naam">Stad</label>
                    <input type="text" id="post_stad_naam" name="post_stad_naam" required>
                </div>
                <div class="dropdown-container-item-blog">
                    <label for="cat_naam">Vakantie: </label>
                    <select id="cat_naam" name="cat_naam" required>
                        <option disabled selected>Kies een vakantie ...</option>
                        @@category@@

                    </select>
                </div>
            </div>
            <div class="polaroid">
                <img src="images/polaroid.png" alt="">
                <button type="button">Upload afbeelding</button>
            </div>
        </div>
        <div class="blog">
            <label for="post_tekst">Blog</label>
            <textarea id="post_tekst" name="post_tekst" rows="10" cols="50">schrijf hier uw blog</textarea>
        </div>
        <div class="button-blog" >
            <input type="submit" name="creeerpost"value="save_post" >
        </div>

    </fieldset>
</form>