<nav>
    <div class="container nav">
        <a href="#" title=""><img src="images/logo.png" alt="logo"></a>
        <ul>
            <li><a href="#" title="" class="navlink-link ">Home</a></li>
            <li><a href="../Ontdek/ontdek.html" title="" class="navlink-link">Ontdek</a></li>
            <li><a href="../Inspireer/inspireer.html" title="" class="navlink-link">Inspireer</a></li>
            <li><a href="../Profiel/profiel.html" title="" class="navlink-link">Profiel</a></li>
            <li><form method="post" action="lib/logout.php"><input type="hidden" name="formname" value="logout"><input type="submit" name="login" value="Log uit" id="loguit"></form></li>

        </ul>
    </div>
</nav>