<main id="mainlogin" class="login-container container">
    <img src="images/banner1.png" alt="banner" id="banner">
    <div class="loginform">
        <div class="loginitem">
            <img src="images/logo.png" alt="logo" id="logo">
            <h2 id="login">reset paswoord</h2>
            <form id=forget_form method="post" action="lib/forget.php">
                <input type="hidden" id="formname" name="formname" value="forget_form">
                <ul class="list-unstyled">
                    <li>
                        <input type="hidden">
                        <input type="email" name="usr_email" placeholder="uw e-mailadres">
                    </li>
                    <li>
                    <li><p>@@message@@</p></li>

                    </li>
                    <li><input class="submit" name="reset" type="submit" value="reset"></li>


                </ul>
            </form>
        </div>
        <div class="loginitem" >
            <p>Geen account? <a href="register.php" id="registreer">Registreer je hier.</a></p>
        </div>
    </div>
</main>