<div class="tegel-profile">
    <a href="detail.php?blogid=@@post_id@@&userid=@@post_user_id@@" title=""><img src="@@afb_locatie@@" alt="afbeelding"></a>
    <a href="#" title=""><h2 class="title-blog">@@post_title@@</h2></a>
    <p class="datum">@@post_datum@@</p>
    <p>@@land_naam@@</p>
    <a href="inspireer.php?postid=@@post_id@@&userid=@@post_user_id@@" title=""><p class="wijzig">Wijzig</p></a>
    <a href="lib/inspireer_functions.php?postid=@@post_id@@&userid=@@post_user_id@@" title=""><p class="verwijder">Verwijder</p></a>

</div>
