<div class="tegel-profile">
    <a href="detail.php?blogid=@@post_id@@&userid=@@post_user_id@@" title=""><img src="@@afb_locatie@@" alt="afbeelding"></a>
    <a href="#" title=""><h2 class="title-blog">@@post_title@@</h2></a>
    <p class="datum">@@post_datum@@</p>
    <p>@@land_naam@@</p>
    <a href="lib/inspireer_forms.php?postid=@@post_id@@&userid=@@post_user_id@@" title=""><p class="wijzigen">druk hier om te verwijderen</p></a>
    <a href="inspireer.php?postid=@@post_id@@&userid=@@post_user_id@@" title=""><p class="wijzigen">druk hier om uw blog aan te passen</p></a>
</div>
