

<main id="mainlogin" class="container login-container">
    <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#fff0ca","text":"#000000","border":"#e0bc57"},"button":{"background":"#e0bc57","text":"#ffffff"}},"position":"bottom","content":{"href":"template/privacy.html","message":"voor meer informatie rond het gebruik van cookies"}})});</script>
    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
    <img src="images/banner2.png" alt="banner" id="banner">
    <div class="loginform">
        <div class="loginitem">
            <img src="images/logo.png" alt="logo" id="logo">
            <h2 id="login">Registratie</h2>
            <form id="registration_form" method="post" action="lib/register.php">

                <input type="hidden" id="formname" name="formname" value="registration_form">
                <input type="hidden" id="tablename" name="tablename" value="user">
                <input type="hidden" id="pkey" name="pkey" value="usr_id">

                <ul class="list-unstyled">
                    <li>
                        <input type="hidden">
                        <input type="text" name="usr_voornaam" placeholder="Voornaam">
                    </li>
                    <li>
                        <input type="text" name="usr_naam" placeholder="Naam">
                    </li>
                    <li>
                        <input type="text" name="usr_login" placeholder="username">
                    </li>
                    <li>

                        <input type="email" name="usr_email" placeholder="E-mail">
                    </li>
                    <li>
                    <input type="password" name="usr_paswoord" placeholder="Paswoord">
                </li>
                    <li>
                        <a href="http://www.google.com"
                           target="popup"
                           onclick="window.open('template/believer.html','popup','width=600,height=600'); return false;">
                            Do you Believe in the concept?
                        </a>
                        <input type="checkbox" id="usr_believer"name="usr_believer"  value="1" >
                    </li>
                    <li>@@message@@</li>
                    <li>
                        <input class="submit"name="registerbutton" type="submit" value="Register">
                    </li>

                </ul>

            </form>
        </div>
        <div class="loginitem" >
            <p>Heb je al een account? <a href="login.php" id="registreer">Log je hier in.</a></p>

        </div>
    </div>
</main>