<div class="dropdown-container-item">
    <label for="land">Land: </label>
    <select id="land" name="land">
        <option disabled selected>Kies een land ...</option>
        <option>@@land_naam@@</option>

    </select>
</div>
<div class="dropdown-container-item">
    <label for="vakantie">Vakantie: </label>
    <select id="vakantie" name="vakantie">
        <option disabled selected>Kies een vakantie ...</option>
        <option>@@cat_naam@@</option>
    </select>
</div>

<div class="dropdown-container-item">
    <button type="button" >Resultaat</button>
</div>

