<div class="dropdown-container-item">
    <label for="land">Land: </label>
    <select id="land" name="land">
        <option disabled selected>Kies een land ...</option>
        <option value="België">België</option>
        <option value="Nederland">Nederland</option>
        <option value="Duitsland">Duitsland</option>
        <option value="Verenigd Koninkrijk">Verenigd Koninkrijk</option>
        <option value="Frankrijk">Frankrijk</option>
        <option value="Spanje">Spanje</option>
        <option value="Portugal">Portugal</option>
        <option value="Italië">Italië</option>
        <option value="Polen">Polen</option>
        <option value="Tsjechië">Tsjechië</option>
    </select>
</div>
<div class="dropdown-container-item">
    <label for="vakantie">Vakantie: </label>
    <select id="vakantie" name="vakantie">
        <option disabled selected>Kies een vakantie ...</option>
        <option value="wintersport">Wintersport</option><option value="backpacken">Backpacken</option><option value="strandvakantie">Strandvakantie</option>
        <option value="cruises">Cruises</option><option value="stedentrip">Stedentrip</option><option value="Natuur">Natuur</option>
    </select>
</div>

<div class="dropdown-container-item">
    <button type="button" >Resultaat</button>
</div>

